.folderContainer {
    display: grid;
    height: 3rem;
    width: 100%;
    margin: 0;
    text-align: left;
    align-items: center;
    grid-template-columns: 3rem auto 3rem;
    grid-gap: 0.6rem;
    cursor: pointer;
    padding: 1rem 0;
  }
  
  .folderContainer:focus{
      outline: none;
  }
  
  /* .folderContainerInactive {
      background-color: hsl(0, 0%, 40%);
  } */
  
  .folderContainerInactive:hover {
    background-color: hsl(0, 0%, 40%);
  }
  
  .folderContainerActive {
    background-color: hsl(0, 0%, 50%);
  }
  