/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;0,100;1,100;0,400;1,400;0,900&display=swap'); */
.folderIcon{
    display: flex;
    width: 30px;
    height: 100%;
    background-image: url('https://brianjosephstudio.github.io/Editor_Hub/Resources/ui/folder_icon.svg');
    background-size: 50%;
    background-position: left;
    background-repeat: no-repeat;
    
}
.listDiv{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    /* height: 100%; */
    border: none;
    border-radius: 0px 0px 18px 18px;
    background-color: hsl(0, 0%, 8%);
    /* padding: 6px; */
    transition: 0.4s;
    /* margin: 0px; */
    transition-timing-function: cubic-bezier(0.25, 0, 0, 1);
    overflow-x: hidden;
    overflow-y: scroll;
}
.listColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0px 3px;
    overflow-x: hidden;
}
.listSeparator{
    background-color: #2772CC;
    min-height: 1px;
    width: 100%;
}
.listHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 30px;
    border-radius: 18px 18px 0px 0px;
    background-color: hsl(0, 0%, 20%);
    margin: 3px 0px 0px;
    /* cursor: pointer; */
}
.listItem{
    font-family: 'Lato', sans-serif;
    font-weight: 400;    
    font-size : 15px;
    display: flex;
    align-items: center;
    position: relative;
    flex-shrink: 0;
    /* width: 98%; */
    /* height: 30px; */
    color : hsl(0, 0%, 75%);
    padding: 5px 0px;
    background : transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 5px;
    /* border-width: 1px 0px; */
    border-style: none;
    border-color: hsl(0, 0%, 13%);
    /* z-index: -1; */
    overflow: hidden;
}
.listItem:hover{
    background-color: hsl(0, 0%, 30%);
}
.listItem:focus{
    background-color: hsl(0, 0%, 40%);
    color: hsl(0, 0%, 100%);
    outline: none;
}
.listItemPlaying{
    color: white;
    z-index: 1;
    background-image: linear-gradient(to right, rgba(44, 169, 215, 0.4),rgba(44, 169, 215, 0) 75%);
}
.actionsBar{
    display: flex;
    margin-left: auto;
    place-content: right;
    height: 100%;
    width: auto;
    opacity: 0;
    /* background-color: blue; */
}
.actionsBar:hover{
    opacity: 1;
}
.itemPreview{
    display: flex;
    height: auto;
    width: 25px;
    left: 8px;
    position: relative;
    background: hsl(0, 0%, 60%);
    margin-left: auto;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-right: 0px;
    /* border-radius: 5px; */
    /* filter: blur(2px); */
    /* transition: 0s; */
    z-index: 2;
    transform: skew(-15deg);
    opacity: 0.3;
}
.itemPreview:hover{
    opacity: 1;
    /* box-shadow: -6px 0px 5px 0px rgba(44, 44, 44, 0.25); */
}
.itemImport{
    display: flex;
    height: auto;
    width: 30px;
    left: 8px;
    padding-left: 6px;
    position: relative;
    background-color: hsl(0, 0%, 60%);
    /* margin-left: auto; */
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: 0px;
    /* border-radius: 0px 5px 5px 0px; */
    /* filter: blur(2px); */
    /* transition: 0s; */
    transform: skew(-15deg);
    z-index: 2;
    opacity: 0.3;
}
/* .itemImport::after{
    content: "";
    background-color: inherit;
    position: absolute;
    width: 50%;
    height: 100%;
    top: inherit;
    left: -7px;
    transform: skew(-15deg);
} */
.itemImport:hover{
    opacity: 1;
    /* box-shadow: -6px 0px 5px 0px rgba(44, 44, 44, 0.25); */
}
.importIcon{
    display: flex;
    width: 15px;
    left: 12px;
    height: 100%;
    background: url('https://brianjosephstudio.github.io/Editor_Hub/Resources/ui/import_icon.svg');
    background-position:  center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    margin: 0px 0px 0px 0px;
    transform: skew(15deg);
    z-index: 1;
}
.listFolder{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    overflow: hidden;
    height: auto;
    position: relative;
}
.listFolderHead{
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    color : hsl(0, 0%, 75%);
    font-family :Arial, Helvetica, sans-serif;
    font-size : 15px;
    /* height: 30px; */
    padding: 5px 0px 5px 12px;
    cursor: pointer;
    /* background-color: hsl(222, 23%, 17%); */
    border-style: none;
    border-radius: 5px;
    align-items: center;
}
.listFolderHead:hover{
    background-color: hsl(0, 0%, 30%);
}
.listFolderBody{
    display: none;
    flex-shrink: 0;
    flex-direction: column;
    /* position: absolute; */
    width: auto;
    /* top: 0;
    left: 0; */
    margin: 0px 0px 0px 20px;
    padding: 0px 0px 0px 6px;
    height: auto;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: hsl(0, 0%, 50%);
    overflow: hidden;
}
.searchBar{
    display: flex;
    font-family: 'Lato', sans-serif;
    font-weight: 400;    
    font-size : 15px;
    color: white;
    min-height: 30px;
    width: 100%;
    background: hsl(0, 0%, 8%);
    outline: none;
    border-style: none;
    padding-left: 16px;
    overflow-x: hidden;
}
.searchBar:focus{
    background: linear-gradient(hsl(0, 0%, 8%), hsl(0, 0%, 25%));
    /* border-style: solid;
    border-width: 0px 0px 0.5px 0px;
    border-color: hsl(0, 0%, 100%); */
}
.isPlaying{
    display: flex;
    height: 12px;
    width: 12px;
    background-image: linear-gradient(to top, rgba(31, 96, 161, 1), rgba(44, 190, 215, 1));
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    margin-left: 8px;
    opacity: 0;
    transition: 0.5s;
}
.isPlayingFolder{
    display: flex;
    height: 8px;
    width: 8px;
    background-image: linear-gradient(to top, rgba(31, 96, 161, 1), rgba(44, 190, 215, 1));
    /* clip-path: polygon(0 0, 100% 50%, 0 100%); */
    border-radius: 50%;
    margin-left: 8px;
    opacity: 0;
    transition: 0.5s;
}
.itemTitle{
    display: flex;
    overflow: hidden;
    /* width: 50%; */
}
.tutorialViewer{
    display: none;
    place-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100vw;
    transition: 0.7s;
    background-color: hsla(0, 0%, 0%, 0.7);
    opacity: 0;
    z-index: 5;
    cursor: pointer;
}
.tagSwitch{
    display: flex;
    flex-shrink: 0;
    background: url("https://brianjosephstudio.github.io/Editor_Hub/Resources/ui/tagSwitch_icon_inactive.svg");
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    /*
    border-radius: 50%;
    background-color: hsl(0, 0%, 35%);
    */
    /* background-color: hsl(0, 0%, 8%); */
    cursor: pointer;
    margin: 0px 6px;
    transition: 1.5s ease;
}
.tagSwitch:hover{
    background: url("https://brianjosephstudio.github.io/Editor_Hub/Resources/ui/tagSwitch_icon_hover.svg");

}
.tagSwitch_on{
    background: url("https://brianjosephstudio.github.io/Editor_Hub/Resources/ui/tagSwitch_icon_active.svg");
}
.tagMatchesBox{
    padding: 6px;
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: calc(100% - 35px);
    top: 35px;
    left: 0px;
    z-index: 11;
    max-height: 40vh;
    overflow-y: scroll;
    border-radius: 0px 0px 12px 12px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #2772CC;
}
.tagItem{
    display: flex;
    padding: 8px 6px;
    color: white;
    min-height: 18px;
    width: inherit;
    cursor: pointer;
    border-radius: 6px;
    align-items: center;
    align-content: center;
}
.tagItem:hover{
    background-color: hsl(0, 0%, 30%);
}